.page_main {
}

.page_main_inner {
  display: flex;
}

.recent_posts {
  flex: 1;
  background-color: #ddd;
  min-height: 100vh;
}

.aside_content {
  flex: 0 0 280px;
  background-color: #eee;
  min-height: 100vh;
}
