.w_page_header {
  // background-color: #eese;
  color: #fff;
  &.full_page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .w_page_header_bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }
  .blog_name_center {
    font-size: 40px;
  }
  .w_page_header_scroll_down {
    height: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    .scroll-down-effects {
      position: relative;
      animation: scroll-down-effect 1.5s infinite;
    }
  }
}
@keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: 0.4;
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
  }
}
