.recent_post_item {
  width: 880px;
  height: 280px;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
  margin-bottom: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
  }
  .rpi_cover {
    flex: 0 0 395px;
    height: 280px;
    background-color: #eee;
  }
  .rpi_info {
    flex: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .rpi_article_title {
      width: 100%;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 8px;
    }
    .rpi_article_meta_wrap {
      width: 100%;
      font-size: 12px;
      height: 26px;
      margin-bottom: 6px;
      color: rgb(133, 133, 133);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .rpi_article_meta_text {
      }
      .rpi_article_meta__separator {
        margin: 0 6px;
      }
    }
    .rpi_article_content {
      font-size: 14px;
      line-height: 28px;
    }
  }
}
