.w_nav_item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  .w_nav_item_inner {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    .w_nav_item_icon {
    }
    .w_nav_item_name {
    }
    .w_nav_item_drop {
      margin-left: 3px;
      font-size: 14px;
      transition: transform 0.3s;
    }
  }
  .w_nav_item_select_drop {
    display: none;
  }
  &:hover {
    .w_nav_item_inner {
      .w_nav_item_drop {
        transform: rotate(180deg) !important;
      }
    }
    .w_nav_item_select_drop {
      display: inline-block;
      position: absolute;
      top: 60px;
      right: 0;
      animation: sub_menus 0.3s 0.1s ease both;
      .w_nav_item_drop_inner {
        background-color: rgb(246, 248, 250);
        font-size: 18px;
        color: rgb(76, 73, 72);
        .w_nav_item_drop_item {
          min-width: 120px;
          height: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 14px;
          // padding: 0 14px;
          &:hover {
            background-color: #49b1f5;
          }
        }
      }
    }
  }
}
@keyframes sub_menus {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
