.w_nav_wrap {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  .nav_inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    .nav_web_name {
      flex: 1;
    }
    
    .nav_menu {
    }
    
  }
}


