.w_card_widge_web_announcement {
  .wcw_a_title {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 4px;
  }
  .wcw_a_desc {
    font-size: 14px;
    line-height: 28px;
  }
}
