html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w_recent_posts {
  flex: 0 0 880px;
}

.w_article_aside {
  flex: 0 0 280px;
}

@import "./../components/PageHeader/index.scss";
@import "./../components/PageMain/index.scss";
@import "./../components/PageNav/index.scss";
@import "./../components/CardWidgeWebInfo/index.scss";
@import "./../components/CardWidgeAnnouncement/index.scss";
@import "./../components/RecentPostItem/index.scss";
@import "./../components/PageFooter/index.scss";
